/* Hyderabad.css */

.projects-container {
    text-align: center;
    margin-top: 5%;
  }
  
  .card-hyd {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .highlighted {
    color: rgb(255, 145, 0);
    font-weight: bold;
  }
  .title{
    height: 2rem;
  }